[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
pydantic = "*"
fastapi = "*"
psycopg2 = "*"
uvicorn = "*"
requests = "*"
confluent-kafka = "*"

[dev-packages]
pre-commit = "*"
ruff = "*"
mypy = "*"
types-requests = "*"
pytest = "*"
pytest-cov = "*"
pytest-repeat = "*"
pytest-mypy = "*"
pytest-mock = "*"
httpx = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
